.header
  .header__logo
    img(src='/assets/logos/logo-small.svg')
  .header__button
    a Salir
.body
  .body__content  
    admin-field(
      title="Solicitudes de afiliación"
      type="afiliacion"
      cards='{{this.afiliacionCards()}}')
    admin-field(
      title="Productores"
      type="productores"
      cards='{{this.productoresCards()}}'
      )
    admin-field(
      title='Categorias'
      type='categorias'
      cards='{{this.categoriasCards()}}'
      )
